/* main.css */

html, body {
    overflow: hidden;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.horizontile-box {
    height: 67%;
}

.control-panel {
    display: flex;
    flex-direction: column;
    float: left;
    border-right: 2px solid black;
    width: 25%;
    height: 100%;
    margin: 0 0.25%;
}

/* the canvas view must scroll so that we can resize the canvas to fit long
   visual elements */
.canvas-view {
    margin: 0 0.25%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    display: block;
}

/* used to get browser to fit middle-positioned div */
.dummy-view {
    float: right;
    width: 0;
    height: 100%;
}

.terminal-view {
    border-top: 2px solid black;
    height: 33%;
    background-color: #111;
}

.control-panel-button-a {
    font-size: 12pt;
    padding: 0px;
    font-family: monospace;
}

.control-panel-button-b {
    padding: 0px;
    font-size: 12pt;
}

.control-panel-text-entry {
    font-family: monospace;
    font-size: 12pt;
}

.control-panel-label {
    font-family: monospace;
    font-size: 12pt;
}

.control-panel-label-bold {
    font-family: monospace;
    font-size: 12pt;
    font-weight: bold;
}

.control-panel-checkbox {
    position: absolute;
    right: 0px;
}

.node-panel-view {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.save-json-box {
    width: 100%;
    height: 80%;
    resize: none;
    background-color: white;
    border: none;
    font-family: monospace;
}

.save-code-box {
    font-family: monospace;
    border: none;
    width: 100%;
    height: 80%;
    resize: none;
    background-color: white;
}

.open-file-input {
    display: none;
}

.open-file-error-p {
    color: red;
    font-size: 12pt;
    font-family: monospace;
    font-weight: bolder;
}

.open-file-p {
    color: blue;
    font-size: 12pt;
    font-weight: bolder;
    font-family: monospace;
}

.json-preview-box {
    width: 100%;
    height: 100%;
    resize: none;
    background-color: white;
    border: none;
    font-family: monospace;
}

.open-file-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

.open-file-div-inner {
    width: 50%;
}

.open-file-warning {
    color: green;
    font-size: 1.5em;
    font-weight: bolder;
}

.new-proj-warning {
    color: green;
    font-size: 2.5em;
    text-align: center;
    font-weight: bolder;
}
